In [12]:
import condb as con
data = con.selectData(table="student")
for i in data:
    print(i)

('663380035-4', 'ธนรัตน์', 'แซ่เฮีย', None, 'F01', 'D02', 'T01')
('663380031-2', 'กษิดิศ', 'บุญเสนอ', None, 'F01', 'D04', 'T03')
('663380032-0', 'ชัชติยะ', 'สินธุธรรม', None, 'F03', 'D01', 'T04')
('663380030-4', 'กมลลักษณ์', 'พลกูล', None, 'F01', 'D01', 'T02')
('663020197-5', 'กฤษดา', 'โสมายัง', '123 จ.ขอนแก่น', 'F01', 'D01', 'T01')
('663020200-2', 'ขวัญข้าว', 'เสียงเลิศ', '11 จ.ขอนแก่น', 'F01', 'D02', None)
('663020205-2', 'ชนนิกา', 'ปัญจันทร์สิงห์', '์ 15 จ.ขอนแก่น', 'F01', 'D03', None)

In [5]:
con.insertData(table="product_type", primary_key="'T05'", values="'หมาดำ', 'หมาหมา'")

1 row inserted

True

In [16]:
con.updateData(table="product_type", set="tname='หมาแดง'", condition="tid='T02'")

1 row updated

True

In [14]:
con.deleteData(table="product_type", condition="tid='T01'")

1 row deleted

True

In [9]:
a = "t"
b = "None"

if a and b:
    print("here")

here